.home-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Montserrat',sans-serif;
}

.home-button:hover {
    background-color: #218838;
}
