.home-container {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.home-container h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 40px;
}

.home-container a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin: 0 15px;
    font-size: 18px;
    display: inline-block;
}

.home-container a:hover {
    color: #0056b3;
}
