<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

=======
>>>>>>> Stashed changes
.leave-requests-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leave-requests-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.leave-requests-box {
    margin-top: 20px;
<<<<<<< Updated upstream
    border-collapse: collapse;
=======
>>>>>>> Stashed changes
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
<<<<<<< Updated upstream
=======
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
>>>>>>> Stashed changes
}

.leave-requests-box table {
    width: 100%;
    border-collapse: collapse;
}

.leave-requests-box th,
.leave-requests-box td {
<<<<<<< Updated upstream
    text-align: left;
    padding: 12px;
=======
    padding: 12px;
    text-align: center;
>>>>>>> Stashed changes
    border-bottom: 1px solid #ddd;
}

.leave-requests-box th {
    background-color: #007BFF;
    color: white;
<<<<<<< Updated upstream
=======
    text-align: center;
>>>>>>> Stashed changes
}

.leave-requests-box tr:hover {
    background-color: #f5f5f5;
}

.leave-requests-box td {
    color: #555;
<<<<<<< Updated upstream
=======
    text-align: center;
>>>>>>> Stashed changes
}

.leave-requests-box .actions {
    display: flex;
<<<<<<< Updated upstream
=======
    justify-content: center;
>>>>>>> Stashed changes
    gap: 10px;
}

.leave-requests-box button {
    padding: 6px 12px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.leave-requests-box button:hover {
    background-color: #0056b3;
}

.leave-requests-box .delete-button {
    background-color: #f44336;
}

.leave-requests-box .delete-button:hover {
    background-color: #e53935;
}

.leave-requests-box .update-button {
    background-color: #2196F3;
}

.leave-requests-box .update-button:hover {
    background-color: #1e88e5;
}

.feedback {
    margin-top: 10px;
    color: #e53935;
    text-align: center;
}

.link-to-add {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.link-to-add button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.link-to-add button:hover {
    background-color: #0056b3;
}
