@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.leave-request-container {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto',Arial, sans-serif;
}

.leave-request-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
}

.leave-request-container form label {
    margin-top: 10px;
}

.leave-request-container form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.leave-request-container form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.leave-request-container form button:hover {
    background-color: #0056b3;
}

.feedback {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}

.feedback.error {
    color: red;
}

.leave-requests-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.leave-requests-box table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.leave-requests-box th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.leave-requests-box th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-buttons button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.action-buttons button:hover {
    background-color: #0056b3;
}
