.employee-list-container {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat',sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.employee-list-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;

}

.employee-list-table th, .employee-list-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    font-family: 'Montserrat',sans-serif;
}

.employee-list-table th {
    background-color: #007bff;
    color: white;
}

.employee-list-table td {
    background-color: #f9f9f9;
}

.employee-list-table .action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.employee-list-table .update-button,
.employee-list-table .delete-button,
.employee-list-table .change-password-button {
    background-color: #007bff;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: none;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}

.employee-list-table .delete-button {
    background-color: #dc3545;
}

.employee-list-table .change-password-button {
    background-color: #28a745;
}

.employee-list-table .update-button:hover {
    background-color: #0056b3;
}

.employee-list-table .delete-button:hover {
    background-color: #c82333;
}

.employee-list-table .change-password-button:hover {
    background-color: #218838;
}

.new-employee-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-employee-button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .employee-list-table, th, td {
        display: block;
        width: 100%;
    }

    .employee-list-table th, .employee-list-table td {
        text-align: left;
        padding: 10px;
    }

    .employee-list-table td {
        display: block;
        padding-left: 10px;
    }

    .employee-list-table .action-buttons {
        justify-content: flex-start;
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .employee-list-table {
        max-width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .employee-list-table .action-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .employee-list-table .update-button,
    .employee-list-table .delete-button,
    .employee-list-table .change-password-button {
        width: 100%;
    }

    .new-employee-button {
        width: 100%;
    }
}

.search-bar {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

